## Output using print() statement in Python

Python print() function prints the message to the screen or any other standard output device.

In [1]:
print("Good morning, everyone. Welcome to the AI Workshop.")

Good morning, everyone. Welcome to the AI Workshop.

Python "end()" parameter

In [2]:
# we can end a print statement with any character/string using this parameter.
print("Good morning,", end = " ")
print("This is Vijay")

Good morning, This is Vijay

## Taking Input from User in Python

input (): This function first takes the input from the user and converts it into a string.

In [3]:
college = input("Enter your college name: ")

Taking multiple inputs from the User
Using split() method :
*  This function helps in getting multiple inputs from users.
*  It breaks the given input by the specified separator. If a separator is not provided then any white space is a separator.

In [4]:
# taking three inputs at a time
students, boys, girls = input("Enter three values: ").split()
print("Total number of students: ", students)
print("Number of boys is : ", boys)
print("Number of girls is : ", girls)

Total number of students:  10
Number of boys is :  20
Number of girls is :  30

## Python variables



*   Variables are containers for storing data values.
*   A variable is created the moment you first assign a value to it.

In [5]:
instructor_name = "Mahaan SRK"
experience = 10

In [6]:
print(instructor_name)
print(experience)

Mahaan SRK
11

Python allows you to assign values to multiple variables in one line

In [7]:
teamLead, AiLead, dl_lead, ds_lead, _manager = "Zameel", "Vijay", "Jayasri", "Naveen", "Prasad"
print(teamLead)
print(AiLead)
print(dl_lead)
print(ds_lead)
print(_manager)

Zameel
Vijay
Jayasri
Naveen
Prasad

## Python Operators

Operators in general are used to perform operations on values and variables.


*  OPERATORS: These are the special symbols. Eg- + , * , /, etc.
*   OPERAND: It is the value on which the operator is applied.

1. Arithmetic Operators (+, -, *, /, //, %, **)

In [8]:
a = 8
b = 7
add = a + b

sub = a - b

mul = a * b

mod = a % b

power = a ** b

float_div = a / b

int_div = a // b

print(add)
print(sub)
print(mul)
print(mod)
print(power)
print(float_div)
print(int_div)

15
1
56
1
2097152
1.1428571428571428
1

2. Comparision Operators (>, <, ==, !=, >=, <=)

In [9]:
a = 7
b = 18

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

3. Logical Operators (Logical AND, Logical OR, Logical NOT)

In [10]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

4. Identity Operators (is, is not)

In [11]:
a = 18
b = 7
c = a

print(a is not b)
print(a is c)

True
True

5. Membership Operators (in, not in)

In [12]:
string = "This is a AI workshop"
print("AI" in string)
print("Robotics" in string)
print("workshop" not in string)

True
False
False

## Python Data Types

You can get the data type of any object by using the "type()" function

In [13]:
a = "Hello Shafi"
b = 7
c = 7.55
d = 3j

print("Type of a: ", type(a))
print("Type of b: ", type(b))
print("Type of c: ", type(c))
print("Type of d: ", type(d))

Type of a:  <class 'str'>
Type of b:  <class 'int'>
Type of c:  <class 'float'>
Type of d:  <class 'complex'>

Strings

In [14]:
a = "This is a String"
b = '''We will create string using single quotes, double quotes and triple quotes'''

# Concatenating the strings using +
print(a + b)

# length of string
print("\n")
print(len(a))
print(len(b))

# String Slicing
print("\n")
print(a[:16])
print(b[9:])
print(b[5:17])
print(a[:])

# String operations
print("\n")
print(a.upper())
print(b.lower())
print(b.replace("quotes", "''"))
print(a.split(" "))

This is a StringWe will create string using single quotes, double quotes and triple quotes


16
74


This is a String
reate string using single quotes, double quotes and triple quotes
ll create st
This is a String


THIS IS A STRING
we will create string using single quotes, double quotes and triple quotes
We will create string using single '', double '' and triple ''
['This', 'is', 'a', 'String']

Data type conversions

In [15]:
a = input("Enter any number: ")
print(type(a))
a = int(a)
print(type(a))

<class 'str'>
<class 'int'>

In [16]:
b = 5
print(type(b))
b = float(b)
print(type(b))

<class 'int'>
<class 'float'>

## Non-primitive Data types

1. **Lists** (mutable, ordered, allow duplicates)

In [17]:
cricketers = ["Dhoni", "Virat", "Jaddu", "Sachin", "Dhoni", 7, 18, True]
print(cricketers)
print(len(cricketers))
print(type(cricketers))

['Dhoni', 'Virat', 'Jaddu', 'Sachin', 'Dhoni', 7, 18, True]
8
<class 'list'>

list() constructor to create a new list.

In [18]:
fruits = list(("Apple", "Cherry", "Orange", "Kiwi"))
print(fruits)

['Apple', 'Cherry', 'Orange', 'Kiwi']

List operations

In [19]:
# List Slicing
print(fruits[:3])
print(fruits[1:3])
print(fruits[-2])

['Apple', 'Cherry', 'Orange']
['Cherry', 'Orange']
Orange

In [20]:
# Adding and Removing elements
fruits.append("banana")
print(fruits)

['Apple', 'Cherry', 'Orange', 'Kiwi', 'banana']

In [21]:
fruits.extend(cricketers)
print(fruits)

['Apple', 'Cherry', 'Orange', 'Kiwi', 'banana', 'Dhoni', 'Virat', 'Jaddu', 'Sachin', 'Dhoni', 7, 18, True]

In [22]:
fruits.pop(4)
del fruits[2]
cricketers.remove(True)

print(fruits)
print(cricketers)

['Apple', 'Cherry', 'Kiwi', 'Dhoni', 'Virat', 'Jaddu', 'Sachin', 'Dhoni', 7, 18, True]
['Dhoni', 'Virat', 'Jaddu', 'Sachin', 'Dhoni', 7, 18]

In [23]:
# List operations
fruits.reverse()
print(fruits)
cricketers.count("Dhoni")

[True, 18, 7, 'Dhoni', 'Sachin', 'Jaddu', 'Virat', 'Dhoni', 'Kiwi', 'Cherry', 'Apple']

2

2. **Tuples** (ordered, immutable, allow duplicates)

In [24]:
languages = ("English", "Telugu", "Hindi", "Spanish")
print(languages)
print(len(languages))
print(type(languages))

('English', 'Telugu', 'Hindi', 'Spanish')
4
<class 'tuple'>

tuple() constructor to make a tuple.

In [25]:
languages2 = tuple(("French", "Dharug", "Italain"))

Tuple Operations

In [26]:
print(languages[2])
print(languages2[1:3])
print(languages[-3])

Hindi
('Dharug', 'Italain')
Telugu

In [27]:
languages = list(languages)
languages.append(languages2)
print(languages)

['English', 'Telugu', 'Hindi', 'Spanish', ('French', 'Dharug', 'Italain')]

In [28]:
del(languages)
print(languages)

NameError: name 'languages' is not defined

3. **Dictionaries** (mutable, ordered, no duplicates)

In [29]:
cities = {"Australia":"Sydney", "India":"Madras", "Italy":"Flourence"}
print(cities)
print(len(cities))
print(type(cities))

{'Australia': 'Sydney', 'India': 'Madras', 'Italy': 'Flourence'}
3
<class 'dict'>

dict() constructor to make a dictionary.

In [30]:
cities2 = dict(France ="Paris", California = "Los Angeles")
print(cities2)

{'France': 'Paris', 'California': 'Los Angeles'}

In [31]:
# Accessing Dict elements
print(cities["Australia"])
print(cities2.get('France'))

Sydney
Paris

In [32]:
print(cities.items())

dict_items([('Australia', 'Sydney'), ('India', 'Madras'), ('Italy', 'Flourence')])

In [33]:
# Updating elements
cities["India"] = "Kakinada"
cities.update({"Africa" : "Cape Town"})
print(cities)

{'Australia': 'Sydney', 'India': 'Kakinada', 'Italy': 'Flourence', 'Africa': 'Cape Town'}

In [34]:
# Removing elements
cities.pop("India")
cities.popitem()
print(cities)

{'Australia': 'Sydney', 'Italy': 'Flourence'}

## Conditional Statements

**If...Else**

In [35]:
# Check whether integer is positive or negative
num = int(input())
if num > 0:
  print("Given num {0} is positive integer".format(num))
elif num < 0:
  print("Given num {0} is negative interger".format(num))
else:
  print("Given num {} is neither negative or positive integer".format(num))

Given num 4 is positive integer

## Looping Statements

**For** loop

In [36]:
# List of items and their prices
items = [
    {"name": "Laptop", "price": 100},
    {"name": "Mouse", "price": 25},
    {"name": "Headphones", "price": 30}]

# Initialize total cost
total_cost = 0

# Calculate the total cost using a for loop
for item in items:
    total_cost += item["price"]

# Print the result
print(f"The total cost of the items in the shopping cart is: ${total_cost:.2f}")

The total cost of the items in the shopping cart is: $155.00

**While** loop

In [37]:
# Simple program to simulate a countdown
countdown = 10

print("Starting countdown...")
while countdown > 0:
    print(countdown)
    countdown -= 1

print("Blastoff!")

Starting countdown...
10
9
8
7
6
5
4
3
2
1
Blastoff!

## Functions

In [38]:
# Creating a Function
def my_name(fname, lname):
  print(fname + " " + lname)

# Calling function
my_name("Zameel", "Ali")

# user inputs
fname,lname = input(), input()
my_name(fname, lname)

Zameel Ali
vijay subash

**lambda function** : A lambda function can take any number of arguments, but can only have one expression.

In [39]:
# Define a lambda function for calculating simple interest
calculate_simple_interest = lambda p, t, r: (p * t * r) / 100

principal_amount = float(input("Enter the principal amount: "))
interest_rate = float(input("Enter the annual interest rate: "))
time_period = float(input("Enter the time period (in years): "))

# Calculate simple interest using the lambda function
simple_interest = calculate_simple_interest(principal_amount, interest_rate, time_period)

# Display the result
print("Simple Interest: {}".format(simple_interest))

Simple Interest: 60.0

## File Handling

**open()**

In [40]:
f = open("text.txt")

**read()**

In [41]:
# print(f.read())

In [42]:
# print(f.readline())
# print(f.readline())

**write()**

In [43]:
f = open("text.txt", "a")
f.write("\nGreetings from AI team")
f.close()

#open and read the file after the appending:
f = open("text.txt", "r")
print(f.read())

Hello Everyone!
This is Jayasri from the AI team.
This file is created for text purpose.
Greetings from AI team

In [44]:
f = open("text.txt", "w")
f.write("Content has been deleted")
f.close()

#open and read the file after the overwriting:
f = open("text.txt", "r")
print(f.read())

Content has been deleted

Creating a file

In [45]:
f = open("createtestfile.txt", "x")

In [46]:
f = open("text.txt", "x")

FileExistsError: [Errno 17] File exists: 'text.txt'